﻿
@{
    ViewBag.Title = "GetSuppliers";
}

<h2>GetSuppliers</h2>
<button id="SearchBtn" class="btn btn-primary">SEARCH</button>
<div id="jsGrid">

</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SearchBtn').click(function () {
                alert('SEARCH')
                $("#jsGrid").jsGrid("search", { Name: "Mate" })
            })
        })
        $(function () {

            $("#jsGrid").jsGrid({
                height: "auto",
                width: "100%",

                filtering: false,
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageLoading: true,
                pageSize: 10,
                pageButtonCount: 5,

                deleteConfirm: "Do you really want to delete the client?",

                //data: [{ Name: 'John', Age: 34, Address: '7421 rue cartier', City: 'Montreal' }, { Name: 'John', Age: 34, Address: '7421 rue cartier', City: 'Montreal' }, { Name: 'John', Age: 34, Address: '7421 rue cartier', City: 'Montreal' }],
                controller: {
                    loadData: function (filter) {
                        console.log(filter);
                        //filter.sortField = 'ContactName';
                        //filter.sortOrder = 'asc';

                        var d = $.Deferred();

                        $.ajax({
                            url: '@Url.Action("SearchSuppliers", "Supplier")',
                            dataType: "json",
                            data: filter,
                            error: function (ex) {
                                console.log(ex)
                            }
                        }).done(function (response) {
                            d.resolve(response);
                        });

                        return d.promise();
                    },
                    updateItem(item) {
                        $.ajax({
                            url: '@Url.Action("SearchSuppliers", "Supplier")',
                            dataType: "json",
                            data: item,
                            error: function (ex) {
                                console.log(ex)
                            }
                        }).done(function (response) {
                            d.resolve(response);
                        });
                    }
                },
                fields: [
                    {
                        title: "Company Name", name: "CompanyName", type: "text", width: 100, editTemplate: function (value) {
                            console.log(this);


                            return '<span>JOHN<span>'
                        }
                    },
                    { title: "Contact Name", name: "ContactName", type: "text", width: 100, sorter: "string" },
                    { title: "Contact Title", name: "ContactTitle", type: "ContactTitle", width: 100, sorter: "string" },
                    { title: "Phone", name: "Phone", type: "text", width: 100, sorter: "string" },
                    { type: "control" }
                    //{
                    //    title: "Custom", name: "Control",width:30, itemTemplate: function (value) {
                    //        return '<button class="btn btn-primary">Edit</button>'
                    //    }
                    //}

                ]
            });

        });
    </script>

}